body {
    margin: 0;
}

/* Navigation bar styling */
.navbar {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-bottom: 200px;
  }
  
  .navLinks {
    margin-bottom: 200px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .navLinks li {
    margin-bottom: 200px;
    margin: 0 15px;
  }
  
  .navLinks li a {
    margin-bottom: 200px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navLinks li a:hover {
    margin-bottom: 200px;
    text-decoration: underline;
  }
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

section {
    margin-bottom: 200px;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: rgb(68, 68, 68);
}
/* Navigation bar styling */

.service-container {
    margin-top: -8px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
.image-container {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.service-card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
}

.service-img {
    width: 85%;
    height: 85%;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer; 
}

footer {
    background-color: rgb(35, 35, 35);
    color: rgb(230, 230, 230);
    padding: 20px;
    text-align: center;
    width: 100%; 
}

.logo {
    margin-right: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
