.movie2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
   .container1 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
    padding: 20px; 
  }
  
  .content1 {
  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .image-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:500px;
    flex: 1;
    margin-top: -100px;
  }
  
  .image1 {
    width: 50%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-top: -100px;
  }
  
  .book-Button {
    width: 30%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .text-Container {
    text-align: left;
    flex: 2;
  }
  
  .heading1 {
    font-size: 24px;
   
    margin-left: 500px;
    margin-top: -350px;
  }
  
  .description1 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 500px;
  }
  
   h2 ,.cast {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 500px;
  }
  
   .actor1 {
   margin-left: 500px;
  
  }
  